#local-video-wrapper {
  position: relative;
  width: 100%;
}

#video-button-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

#remote-video-wrapper {
  position: absolute;
  height: auto;
  right: 0;
  bottom: 0;
}

.video-preview {
  width: 50%;
}

.video-fullscreen {
  width: 100%;
  top: 0;
  left: 0;
}

#remote-video {
  display: block;
  width: 100%;
  height: auto;
}

#authenticate-user-wrapper {
  margin-top: 6rem;
}

#authenticate-user {
  display: block;
  margin: 0 auto;
}

.toggle-button {
  background-color: #23C552;
}

.toggle-button-off {
  background-color: #F84F31;
}

#local-video {
  display: block;
  width: 100%;
}

#local-label {
  padding: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #FFFFFF;
  font-weight: bold;
}